$bar-light: #312527ff;
$bar-font-light: rgb(255, 250, 246);

$ui-background: rgb(37, 26, 28);
$ui-accent: rgb(131, 89, 98);
$ui-text: rgb(255, 250, 246);

$background: #402e32ff;
$gray-light: #b5876dff;
$blue-light: #3e8cccff;
$red-light: rgba(229, 55, 55, 0.541);
$links-light: #ea701fff;
$links-hover: rgb(255, 145, 72);
$links-button: rgb(73, 37, 13);
$links-button-hover: rgb(110, 60, 26);

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@mixin default-font {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
}

@mixin bar-styles {
    nav {
        background-color: $bar-light;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: #000;
        flex-wrap: nowrap;
    }
    a {
        box-sizing: border-box;
        border-radius: 12px;
        border: 7px solid $links-button;


        background-color: $links-button;
        color: $links-light;

        margin: 3px 20px;
        
        text-wrap:nowrap;
        text-decoration: none;

        border-collapse:separate;

        transition: 0.3s ease;
    }
    a:hover {
        color: $links-hover;
        border-color: $links-button-hover;
        background-color: $links-button-hover;
    }

    nav div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap; // Dodanie tej linii
    }
}

@mixin text-styles {
    .text {
        padding: 15px 10%;
    }
    ol li {
        line-height: 50px;
        font-size: 21px;
    }

    ul li {
        line-height: 25px;
        font-size: 15px;
    }
}

#circle-small {
    width: 20px;
    height: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}